[includeIf "gitdir:~/github-ch/"]
	path = ~/github-ch/.gitconfig.ch

[includeIf "gitdir:~/github-personal/"]
	path = ~/github-personal/.gitconfig.personal

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
